.main {
    background-color: #ffff;
    width: 98%;
    height: 500px;
    border-radius: 20px;
    margin-top: 39px;
    margin-left: 10px;
    padding-top: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}
body {
    background: linear-gradient(to right, blue, black);
}
.title {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.ico {
    padding-left: 551px;
    padding-top: 20px;
}
.os {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    border-radius: 20px;
}
.download {
    padding-left: 555px;
    padding-top: 20px;
}
.downloadbutton {
    color: #c300ff;
}